<!-- footer -->
</div>
<footer>
	<p>Site et design copyright @ 2013 photoflux.net</p>
	<p>Les photos sont la propriété de leurs auteurs réspectifs</p>
	<p><a href="/confidentiality">Politique de confidentialité</a> &mdash; <a href="/eula">Conditions d’utilisation</a></p>
</footer>
</body>
</html>