{{> header.mustache}}
<article>
	<h1>Page principale</h1>
	<p>Affichera des images, les meilleurs, les plus récentes au bol ... ainsi que de quoi inciter l'utilisateur à créer sa galerie.</p>
	<p>Vous pouvez cliquer ici par exemple pour le faire : <a href="/letsgo">Nouvelle galerie</a></p>
</article>
{{> footer.mustache}}