{{>header.mustache}}
<article>
<h3>Creation d'une galerie</h3>
<h5>ou modification d'une galerie existante</h5>
<ol>
	<li>Vous connecter avec facebook <a href="/loginWithFacebook"><img src="{{staticUrl}}/img/fb_login.png" alt="Login with facebook" /></a></li>
	<li>Choisir les albums à afficher</li>
	<li>Configurer la galerie</li>
	<li>Enregister la galerie</li>
</ol>
</article>
{{>footer.mustache}}