{{#pager}}
<nav class="pager">
	page actuelle: {{current}}<br/>
	{{#prev}}<a href="{{prev}}">&lt;--Prev</a>{{/prev}}{{^prev}}<--Prev{{/prev}} <a href="{{home}}">home</a> {{#next}}<a class="next" href="{{next}}">next --&gt;</a>{{/next}}{{^next}}next --&gt;{{/next}}
</nav>
{{/pager}}